# NOTE: in order to install the requirements, please use the following commands
# python -m venv env
# activate your venv!
# pip install --find-links https://download.pytorch.org/whl/torch_stable.html -r requirements.txt
ipykernel
numpy>=1.18.1
pandas==1.0.5
matplotlib
azureml-core
#azureml-dataprep[pandas,fuse]==2.0.7
azureml-sdk>=1.1.5

